html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', 'Source Sans Pro', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.page {
  max-width: 900px;
  margin: 60px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h4 {
  color: #495057;
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.form-label {
  font-weight: bold;
  color: #495057;
}

.round-image {
  border-radius: 50%;
}

.object-fit-scale {
  object-fit: cover;
}

.password-modal,
.delete-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.password-modal h4,
.delete-modal h4 {
  margin-bottom: 20px;
}

.password-update-div,
.mb-3 {
  margin-bottom: 20px;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button-container button {
  margin: 0 10px;
}

button.btn.btn-secondary {
  background-color: #C62C2E;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.btn.btn-secondary:hover {
  background-color: #f87272;
}

#current-profile-img {
  max-width: 150px;
  margin: 20px 0;
}

#current-password-error,
#new-password-error,
#new-password-check-error {
  color: red;
  font-size: 1.2rem;
}

#new-password-error {
  color: gray;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
