html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', 'Source Sans Pro', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.page {
  max-width: 900px;
  margin: 60px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

h4 {
  color: #495057;
  margin-bottom: 20px;
  text-align: center; /* 헤딩 중앙 정렬 */
}

.form-label {
  font-weight: bold;
  color: #495057;
  display: block;
  margin-bottom: 10px; /* 레이블과 입력 필드 사이 간격 */
}

input[type="text"],
input[type="password"],
input[type="file"],
select {
  width: 100%;
  padding: 20px; /* 입력 필드 내부 여백 확대 */
  margin-bottom: 25px; /* 입력 필드 간 간격 확대 */
  border: 1px solid #ced4da;
  border-radius: 10px; /* 둥근 모서리 */
  font-size: 1.8rem; /* 입력 필드 글꼴 크기 확대 */
  color: #495057;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="file"]:focus,
select:focus {
  border-color: #C62C2E;
  outline: none;
  box-shadow: 0 0 5px rgba(198, 44, 46, 0.3);
}

.round-image {
  border-radius: 50%;
}

.object-fit-scale {
  object-fit: cover;
}

.password-modal,
.delete-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.password-modal h4,
.delete-modal h4 {
  margin-bottom: 20px;
}

.password-update-div,
.mb-3 {
  margin-bottom: 25px;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button-container button {
  margin: 0 10px;
}

button.btn.btn-secondary {
  background-color: #C62C2E;
  border: none;
  color: #fff;
  padding: 15px 30px; /* 버튼 크기 확대 */
  font-size: 1.8rem; /* 버튼 글꼴 크기 확대 */
  font-weight: bold;
  border-radius: 10px; /* 둥근 모서리 */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.btn.btn-secondary:hover {
  background-color: #f87272;
}

#current-profile-img {
  max-width: 150px;
  margin: 20px 0;
}

#current-password-error,
#new-password-error,
#new-password-check-error {
  color: red;
  font-size: 1.4rem;
}

#new-password-error {
  color: gray;
  font-size: 1.4rem;
}

@media (min-width: 768px) {
  .info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
