/* 공통 스타일 */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    color: #4CAF50;
    text-align: center;
    margin-top: 20px;
}

#review-detail {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: left;
}

#comment-list {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: left;
}

#comment-create {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: left;
}

p {
    margin: 10px 0;
    font-size: 1em;
}

button {
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#comment-pagination button:disabled {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
}

/* 헤더 스타일 */
header {
    position: fixed; /* 헤더를 고정하여 스크롤 시에도 항상 상단에 위치 */
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    background-image: url('../mains/images/header-bg.png'); /* 실제 이미지 경로 */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    padding: 20px; /* 패딩을 줄여서 전체 높이를 줄임 */
    height: 20vh; /* 화면 높이의 20%로 설정 */
    text-align: center;
    box-sizing: border-box;
    z-index: 2147483647; /* 다른 요소보다 최상위로 나타나도록 설정 */
    min-height: 500px; /* 최소 높이 설정 */
    max-height: 500px; /* 최대 높이 설정 */
}

/* 푸터 스타일 */
footer {
    background: #c62c2e;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

/* 추가 스타일 */
.store-name, .username, .score, .review-content, .image, .created-at, .updated-at {
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.store-name {
    background-color: #ff8c42; 
}

.username {
    background-color: #ff6b6b; 
}

.score {
    background-color: #4ecdc4; 
}

.review-content {
    background-color: #cece0a; 
}

.image {
    background-color: #ff8c42; 
}

.created-at {
    background-color: #ff6b6b; 
}

.updated-at {
    background-color: #4ecdc4; 
}

/* 메인 컨텐츠 스타일 */
section {
    padding-top: 500px; /* 헤더 높이와 일치 */
    padding-left: 450px; /* 좌우 여백 */
    padding-right: 450px; /* 좌우 여백 */
    margin-bottom: 30px; /* 각 섹션 사이에 여백 추가 */
    text-align: center;
    background-color: #ffffff; /* 배경 흰색 설정 */
}

h1 {
    color: #ff6b6b;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 2em;
}

h3 {
    color: #ff6b6b;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 2em;
}

#comment-list p {
    list-style-type: none;
    padding: 0;
}

#comment-list p {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}
