/* 공통 스타일 */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

h2 {
    color: #C62C2E;
    text-align: center;
    margin-top: 20px;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="file"] {
    display: block;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #C62C2E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #C62C2E;
}

/* 추가 스타일 */
input[type="file"]::file-selector-button {
    padding: 5px 10px;
    border: 1px solid #C62C2E;
    border-radius: 5px;
    background-color: #C62C2E;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="file"]::file-selector-button:hover {
    background-color: #C62C2E;
}

/* 헤더 스타일 */
header {
    position: fixed; /* 헤더를 고정하여 스크롤 시에도 항상 상단에 위치 */
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    background-image: url('../mains/images/header-bg.png'); /* 실제 이미지 경로 */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    padding: 20px; /* 패딩을 줄여서 전체 높이를 줄임 */
    height: 20vh; /* 화면 높이의 20%로 설정 */
    text-align: center;
    box-sizing: border-box;
    z-index: 2147483647; /* 다른 요소보다 최상위로 나타나도록 설정 */
    min-height: 500px; /* 최소 높이 설정 */
    max-height: 500px; /* 최대 높이 설정 */
}

/* 푸터 스타일 */
footer {
    background: #c62c2e;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

/* 메인 컨텐츠 스타일 */
section {
    padding-top: 500px; /* 헤더 높이와 일치 */
    padding-left: 450px; /* 좌우 여백 */
    padding-right: 450px; /* 좌우 여백 */
    margin-bottom: 30px; /* 각 섹션 사이에 여백 추가 */
    text-align: center;
}