header {
    position: relative;
    background: #ffffff;
    background-image: url('../mains/images/header-bg.png'); /* 실제 이미지 경로 */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    padding: 100px; /* 패딩 값을 조절하여 내용물의 위치 조정 */
    height: 400px;
    text-align: center;
    box-sizing: border-box;
}

nav {
    top: 100%; /* 헤더 바로 아래 */
    margin-top: 0px; /* 헤더 아래에서 20px 간격 */
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
    padding: 20px;
}

nav button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #4CAF50;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    cursor: pointer;
}

body {
    font-family: 'Nanum Gothic', sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.content-box {
    width: 30%;
    margin: 0 auto;
}

.content:before{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
    background: #f0f0f3;
}

#store-detail {
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

.store-header {
    text-align: center;
    margin-bottom: 20px;
}

.store-header h1 {
    font-size: 2.5em;
    color: #ff6b6b;
    margin: 0;
}

.store-content {
    text-align: left;
}

.store-content p {
    margin: 10px 0;
    font-size: 1.1em;
}

.category, .phone, .address {
    background-color: #ff6b6b;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.category {
    background-color: #ff8c42;
}

.phone {
    background-color: #ff6b6b;
}

.address {
    background-color: #4ecdc4;
}

footer {
    background: #e05a57;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}